{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
    <title>Tasks!</title>
</head>
<body>
    <form method="POST" action={% url 'index' %}>
        {% csrf_token %}
        <label name="name">
            Todo:
        </label>
        <input type="text" name="task">
        <button type="submit">Add+</button>
    <ul>
        {% for task in tasks %}
            <li>{{ task }}</li>
        {% endfor %}
    </ul>
</body>
</html>